/******************************************************************************************
    Name: banner
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.banner {
    height: 700px;
    background-color: red;

}

/*****************************************************************************************/
/******************************************************************************************
Class: 		$media queries
Description:	CSS definition for responsive design
******************************************************************************************/