/******************************************************************************************
    Name: banner
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.banner{
    height: 700px;

    &.banner-simple{
        .bg-title{
            background-color: $clr-white;
            padding: 23px 0px 23px 40px;
            top: 58%;
            position: relative;
            width: 100%;
            max-width: 49%;

            .title{
                font-family: $font-family-base-semiBold;
                font-size: $font-size-h1;
                text-align: left;
                font-weight: 600;
                letter-spacing: 1.4px;
                line-height: 41px;
            }
        }
    }

    &.banner-with-txt{
        height: 411px;
        padding: 75px 0;

        .title1{
            font-family: $font-family-base-bold;
            font-size: $font-size-large2;
            font-weight: 700;
            letter-spacing: 1.8px;
            line-height: 41px;
            text-align: center;
            color: $clr-white;
            margin-bottom: 40px;
        }

        .title2{
            font-family: $font-family-base-semiBold;
            font-size: $font-size-large4;
            font-weight: 600;
            letter-spacing: 1.2px;
            line-height: 41px;
            text-align: center;
            color: $clr-white;
        }

        .title3{
            font-family: $font-family-base-bold;
            font-size: $font-size-h2;
            font-weight: 700;
            line-height: 37px;
            color: $clr-white;
            text-align: center;
            margin-top: 50px;
        }
    }

    &.first-banner{
        position: relative;
    }

    &.banner-small {
        position: relative;
        height: 192px;
        background-color: chocolate;

        .container-banner-txt {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .banner-txt {
                font-size: $font-size-large2;
                font-weight: 700;
                color: $clr-white;
                letter-spacing: 1.84px;
                line-height: 41px;
            }
        }
    }

    &.banner-with-button {
        position: relative;
        height: 411px;
        background-image: url(../img/img-banner-with-button.jpg);
        @include background-image(center, cover);

        .wrapper-button {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


/*****************************************************************************************/
/******************************************************************************************
Class: 		$media queries
Description:	CSS definition for responsive design
******************************************************************************************/