/******************************************************************************************
    Name: header
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.header {
    background-color: $clr-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 18px 0 5px;

    .header-social{
        padding-top: 0;
        padding-bottom: 10px;
    }

    .logo{
        @include background-image(center, contain);
        background-image: url(../img/LOGO_PREMIOS_EXATEC.png);
        width: 100%;
        height: 70px;
        position: relative;
        top: -5px;

        .logo-a{
            width: 100%;
            height: 100%;
            display: block;
        }

        .logo-s{
            visibility: hidden;
        }
    }

    .navbar{
        padding: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav-item{
        margin-right: 22px;
        &:last-child { margin-right: 0; }
    }
    #txt-menu{
        color: $clr-black;
        font-family: $font-family-base-bold;
        font-size: $font-size-small;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.14px;
        line-height: 14px;
        text-transform: uppercase;
        padding: 19px 0;
        @include transition();

        &:hover { transform: scale(1.1); }

        &.button-general {
            &.button-menu-header {
                &:hover { color: $clr-blue !important; }
            }
        }
    }
    .button-menu-header{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        padding-right: 6px!important;
        padding-left: 8px!important;
        color: $clr-white !important;
        padding-top: 18px!important;
        border-radius: 0;
        padding-bottom: 18px !important;
    }



    /*****************************************************************************************/
    /******************************************************************************************
    Class: 		$media queries
    Description:	CSS definition for responsive design
    ******************************************************************************************/
    @media (max-width: 1199px) {
        #txt-menu{
            font-size: $font-size-small4;
        }
    }

    @media (max-width: 991px) {
        background-color: $clr-white;
        position: relative;
        z-index: 1;

        .navbar-collapse {
            background-color: $clr-white;
        }
        #logo-movil{
            top:0;
            margin: 0 40% 0 0;
            height: 50px;
            width: 130px;
        }
        #txt-menu:hover {
            transform: scale(1);
        }
        .mobileMenu{
            position: fixed;
            top:0;
            width: 60%;
            left:0;
            bottom:0;
            z-index: 1;
            margin: 0 auto;
            transform: translateX(-100%);
            transition: all ease 0.25s;
            &.open{
                transform: translateX(0);
            }
            &.close2{
                display: none;
                visibility: hidden;
            }
            .navbar-nav{
                overflow-y: auto;
              }
        }
        .overlay{
            position: fixed;
            top:0;
            bottom:0;
            left:0;
            right: 0;
            margin: auto;
            background-color: rgba(93, 104, 202, 0.56);
            display: none;
            &.open{
                display: block;
            }
            &.close2{
                display: none;
                visibility: hidden;
            }
        }
        .fa-times{
            color: $clr-blue;
            cursor: pointer;
            left: 20px;
            font-size: 25px;
            text-align: left;
            position: absolute;
            float: left;
            &.close2{
                display: none!important;
            }
        }
        .navbar-light {
            .navbar-toggler{
                border-color: transparent;
            }
        }
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: $clr-blue;
            margin-bottom: 7px;

            &.size-line{
                width: 10px;
            }
        }    
        #txt-menu{
            font-size: $font-size-small;
            color: $clr-black;
            text-align: left;
        }
        .navbar-dark {
            .navbar-toggler{
                border-color: transparent; 
            }
        }
        .nav-item {
            margin-right: 9px;
        }

        .btn-movil{
            .button-menu-header{
                display: block;
                margin: 16px auto 0;
                width: 100%;
                max-width: 280px;
                text-align: center!important;
            }
        }
        .logo{
            top: 25px;
            height: 200%;
            @include background-image(74px -6px, contain);
        }
        .btn-none-movil{
            display: none;
        }
    }

    @media (max-width: 767px) {

        background-color: $clr-white;

        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: $clr-blue;
            margin-bottom: 7px;

            &.size-line{
                width: 10px;
            }
        }    
        .navbar-light {
            .navbar-toggler{
                border-color: transparent; 
            }
        }
        .nav-item {
            margin-right: 7px;
        }
        #txt-menu{
            font-size: $font-size-small;
            color: $clr-black;
            line-height: 4px;
        }
        #logo-movil{
            margin: 0 6% 0 0;
            width: 125px;
            height: 51px;
        }
        .navbar-dark {
            .navbar-toggler{
                border-color: transparent; 
            }
        }
        .btn-movil{

            .button-menu-header{
                width: 100%;
                margin-top: 16px;
            }
        }
        .btn-none-movil{
            display: none;
        }
        .fa-times{
            top:30px;
        }
    }

    @media (max-width: 479px) {

        background-color: $clr-white;
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: $clr-blue;
            margin-bottom: 7px;

            &.size-line{
                width: 10px;
            }
        }
        .mobileMenu{
            width: 80%;
        }
        #logo-movil{
            margin: 0 -4% 0 0;
            height: 41px;
        }
        .fa-times{
            top: 25px;
        }
        .navbar-dark{
            .navbar-toggler{
                padding: .25rem 0;
            }
        }

        .navbar-light {
            .navbar-toggler{
                border-color: transparent; 
            }
        }

        .logo{
            top: 25px;
            margin-left: -30px;
        }

        #txt-menu{
            color: $clr-black;
        }

        .navbar-collapse{
            background-color: $clr-white;
        }
        .btn-none-movil{
            display: none;
        }

        .btn-movil{

            .button-menu-header{
                width: 100%;
                margin-top: 16px;
            }
        }
    }
}

