/**********************************************************************************
	File name:      variables.scss
	Description:    CSS overrides for WordPress variables styles, new variables 
					definitions and styles for layout components.
**********************************************************************************/
/* =====  Fonts ==== */
$font-family-base: 'Raleway', Arial, sans-serif;
$font-family-base-bold: 'Raleway-Bold', Arial, sans-serif;
$font-family-base-light: 'Raleway-Light', Arial, sans-serif;
$font-family-base-semiBold: 'Raleway-SemiBold', Arial, sans-serif;
$font-family-base-medium: 'Raleway-Medium', Arial, sans-serif;
$font-family-montserrat: 'Montserrat', Arial, sans-serif;
$font-family-open-sans: 'Open-Sans-Bold', Arial, sans-serif;
$font-family-roboto: 'Roboto-MediumItalic', Arial, sans-serif;
$font-awesome: 'FontAwesome';

/* =====  Font-size ==== */
$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-medium: 16px;
$font-size-medium2: 22px;
$font-size-medium3: 18px;
$font-size-txt-mobile: 12px;
$font-size-large: 28px;
$font-size-large1: 35px;
$font-size-large2: 45px;
$font-size-large4: 30px;
$font-size-large5: 24px;

/* =====  Colors ==== */
$clr-black: #151515;
$clr-white: #FFFFFF;
$clr-blue: #2B54F4;
$clr-black1: #292929;
$clr-grey: #292929;


 