/**********************************************************************************
	File name:      variables.scss
	Description:    CSS overrides for WordPress variables styles, new variables 
					definitions and styles for layout components.
**********************************************************************************/
/* =====  Fonts ==== */
$font-family-base: 'Raleway', Arial, sans-serif;
$font-family-base-bold: 'Raleway-Bold', Arial, sans-serif;
$font-family-base-light: 'Raleway-Light', Arial, sans-serif;
$font-family-base-semiBold: 'Raleway-SemiBold', Arial, sans-serif;
$font-family-base-medium: 'Raleway-Medium', Arial, sans-serif;
$font-family-montserrat: 'Montserrat', Arial, sans-serif;
$font-family-open-sans: 'Open-Sans-Bold', Arial, sans-serif;
$font-family-roboto: 'Roboto-MediumItalic', Arial, sans-serif;
$font-awesome: 'FontAwesome';

/* =====  Font-size ==== */
$font-size-h1: 35px;
$font-size-h2: 24px;
$font-size-large: 28px;
$font-size-h3: 20px;
$font-size-medium: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

/* =====  Colors ==== */
$clr-black: #000000;
$clr-white: #FFFFFF;
$clr-blue: #2B54F4;
$clr-gray: #F8F8F8;
$clr-gray2: #717171;
$clr-gray3: #F0F0F0;
$clr-gray4: #D4D4D4;
$clr-gray5: #292929;
$clr-black1: #292929;


 
