/******************************************************************************************
    Name: home
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.home {
    .nominate-exatec {}

    .awards-exatec {}

    .distinctions {}   
    
    .campus-participants {
        margin: 140px 0;

        .container-main-title {
            margin-bottom: 45px; 

            .heading {
                &.main-title {
                    text-align: center;
                }

                .separator {
                    &.small { margin: 10px auto 0; }
                }
            }
        }
    }

    .testimonial {
        padding-bottom: 72px;
        background-color: $clr-gray6;

        .container-main-title { 
            padding: 50px 0; 
        
            .heading {
                &.main-title {
                    text-align: center;
                }

                .separator {
                    &.small { margin: 10px auto 0; }
                }
            }
        }
    }

    .tips {
        margin-bottom: 130px;
        
        .container-main-title {
            margin: 130px 0 75px; 

            .heading {
                &.main-title {
                    text-align: center;
                }

                .separator {
                    &.small { margin: 10px auto 0; }
                }
            }
        }

        .wrapper-tip {
            .separator {
                &.extra-small { margin: 0; }
            }
        }
    }

    .banner {
        &.banner-with-button { margin-bottom: 74px; }
    }
}

/*****************************************************************************************/
/******************************************************************************************
Class: 		$media queries
Description:	CSS definition for responsive design
******************************************************************************************/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {
 
}













 


