/******************************************************************************************
    Name: home
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.home {
    .nominate-exatec {}

    .awards-exatec {}

    .distinctions {}   
    
    .campus-participants {}

    .testimonial {}

    .tips {}
}

/*****************************************************************************************/
/******************************************************************************************
Class: 		$media queries
Description:	CSS definition for responsive design
******************************************************************************************/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {
 
}













 


