/******************************************************************************************
    Name: home
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.hero-banner {
    position: relative;
    width: 100%;
    height: 578px;
    background-image: url(../img/herobanner-desktop.jpg);
    @include background-image(center, cover); 

    .exatec-logo {
        margin: 100px 0;
        width: 100%;
        height: 52px;
        background-image: url(../img/logos/exatec-logo.svg);
        @include background-image(left center, contain); 

    }

    .container-main-title {
        margin-bottom: 20px;

        .main-title { color: $clr-purple; }
    }

    .hero-txt {
        margin-bottom: 20px;
        font-size: $font-size-txt;
        color: $clr-white;
    }
}

.info-slider {
    .container-custom { padding: 0; }

    .content-image {
        width: 100%;
        height: 480px;
        @include background-image(center, cover);
        
        &.slide-01 { background-image: url(../img/slide1.jpg); }

        &.slide-02 { background-image: url(../img/slide2.jpg); }

        &.slide-03 { background-image: url(../img/slide3.jpg); }

        &.slide-04 { background-image: url(../img/slide4.jpg); }
    }

    .content-info {
        margin-top: 115px;

        .heading {
            &.title-info {
                margin-bottom: 50px; 
                color: $clr-blue2; 
            }

            &.txt-info { 
                color: $clr-blue3; 
                line-height: 40px;
            }
        }
    }

    .carousel-indicators {
        left: auto;
        right: 35%;
        bottom: 19%;
        margin: 0;

        li {
            width: 13px;
            height: 13px;
            background-color: $clr-blue4;
            border-top: 0;
            border-bottom: 0;
            border-radius: 8px;

            &.active {
                background-color: $clr-blue3;
            }
        }
    }
}

.contact {
    position: relative;
    padding: 155px 0;
    background-image: url(../img/bg-contact.jpg);
    @include background-image(center, 528px 375px); 
    background-color: $clr-black;

    .wrapper-office {
        .heading {
            &.title-office {
                margin: 30px 0 15px;
                color: $clr-white;
                text-align: right;
                line-height: 36px;
            }
        }
    }

    .wrapper-arrows {
        margin-top: 45px; 

        .arrow {
            display: block;
            margin: 0 auto 10px;
            width: 25px;
            height: 25px;
            @include background-image(center, cover); 

            &.arrow-up { background-image: url(../img/icons/icon-arrow-up.svg); }

            &.arrow-down { background-image: url(../img/icons/icon-arrow-down.svg); }
        }
    }

    .wrapper-contact-info {    
        margin-top: 80px;
        
        .info-campus { 
            display: flex;
            justify-content: center;
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: all 500ms ease;
            
            &.open-info-campus { height: 70px; }
            
            &.empty-campus { display: block; }

            .contact-info-list {
                padding: 0;

                li {
                    margin-bottom: 10px;
                    font-family: $font-family-secondary;
                    color: $clr-white;
                    list-style: none;
    
                    a { color: $clr-white; }
    
                    &:nth-child(odd) { font-weight: 600; }
                }
            }
        }
    }

}

.footer {
    padding: 30px 0;
    background-color: $clr-black2;

    .logo-tec {
        width: 100%;
        height: 40px;
        background-image: url(../img/logos/logo-tec.svg);
        @include background-image(center, contain); 
    }

    .copy-text,
    .privacy-policy {
        display: block;
        margin-top: 15px;
        margin-bottom: 0;
        font-size: $font-size-txt-mobile;
        color: $clr-white;
    }

    .privacy-policy {
        &:hover { text-decoration: underline !important; }
    }
}

/*****************************************************************************************/
/******************************************************************************************
Class: 		$media queries
Description:	CSS definition for responsive design
******************************************************************************************/
@media (max-width: 1199px) {
    .info-slider {
        .content-info {
            .heading {
                &.title-info,
                &.txt-info { font-size: $font-size-txt; }
            }
        }

        .carousel-indicators { right: 37%; }
    }

    .contact {
        .wrapper-office {
            .heading {
                &.title-office { font-size: $font-size-txt; }
            }
        }
    }
}

@media (max-width: 991px) {
    .hero-banner {
        height: 328px;

        .exatec-logo {
            margin: 30px 0;
            height: 40px;
        }

        .container-main-title {
            .main-title { font-size: $font-size-h1-tablet; }
        } 

        .hero-txt { font-size: $font-size-txt-tablet; }
    }

    .info-slider {
        .carousel-indicators { right: 38%; }
    }

    .contact {
        .wrapper-office {
            .heading {
                &.title-office { 
                    font-size: $font-size-h1-mobile; 
                    line-height: 32px;
                }
            }
        }

        .wrapper-contact-info {
            .contact-info-list {
                li { font-size: $font-size-txt-tablet; }
            } 
        } 
    }

    .footer {
        .copy-text,
        .privacy-policy { margin-top: 5px; }
    }
}

@media (max-width: 767px) {
    .hero-banner {
        height: auto;
        background-image: none;
        background-color: $clr-black;

        .exatec-logo { 
            margin: 60px 0; 
            @include background-image(center, contain); 
        }

        .container-main-title {
            .main-title { 
                font-size: $font-size-h1-mobile; 
                text-align: center;
            }
        } 

        .hero-txt { margin-bottom: 25px; }

        .bg-mobile {
            display: block;
            width: 100%;
            height: 392px;
            background-image: url(../img/herobanner-mobile.jpg);
            @include background-image(center, cover); 
        }
    }

    .info-slider {
        .container-custom { padding: 0 15px; }

        .content-image {  
            display: block;
            margin: 40px auto 30px;
            max-width: 334px;
            height: 230px;
        }

        .content-info {
            margin-top: 0;
            padding-bottom: 80px;

            .heading {
                &.title-info,
                &.txt-info { 
                    font-size: $font-size-h1-mobile;
                    text-align: center; 
                }

                &.title-info { margin-bottom: 15px; }

                &.txt-info { line-height: 32px; }
            } 
        }

        .carousel-indicators { 
            right: 43%;
            bottom: 7%; 
        }
    }

    .contact {
        padding: 60px 0 0;
        background-image: none;

        .wrapper-office {
            position: relative;
            z-index: 1;

            .heading {
                &.title-office {
                    margin-top: 0;
                    text-align: center;
                }
            }
        }
        
        .wrapper-arrows { display: none; }

        .wrapper-contact-info {
            position: relative;
            margin-top: 190px;
            z-index: 1;

            &.empty-campus { display: block; }

            .contact-info-list {
                li {
                    margin-bottom: 5px; 
                    text-align: center; 
                }
            } 
        }

        .bg-contact {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 284px;
            background-image: url(../img/bg-contact.jpg);
            @include background-image(center, cover); 
            z-index: 0;
        }
    }

    .footer {
        padding: 60px 0;

        .copy-text,
        .privacy-policy { text-align: center; }

        .copy-text { margin: 30px 0 20px; }
    }
}

@media (max-width: 479px) {
    .info-slider {
        .carousel-indicators { 
            right: 37%;
            bottom: 7%; 
        }
    }

    .contact {
        .wrapper-contact-info { 
            &.empty-campus { display: block; }
        }
    }
}













 


