/******************************************************************************************
    Name: proceso1
    Description: Represent the basics styles for main layout and body element 
******************************************************************************************/
.process {
    &.process1 {
        .container-main-title {
            .heading {
                &.main-title { margin: 60px 0 15px; }
            }
        }

        .container-main-txt {
            margin-bottom: 60px;

            .heading {
                &.main-txt { margin-bottom: 0; }
            }
        }
    
        .wrapper-form {
            .step-container { margin-bottom: 26px; }
    
            .info-contact-content {
                .info-contact-txt {
                    margin-bottom: 20px;
                    font-family: $font-family-base-medium;
                    font-size: $font-size-medium;
                    color: #717171;
                }
            }
            
            .form-custom {
                &.form-process {
                    .separator { margin: 20px 0; }
            
                    .wrapper-button { margin: 77px 0 47px; }
                }
            }
    
            .separator {
                &.end-page-separator { margin-bottom: 47px; }
            }
        }
    }
}

/*****************************************************************************************/
/******************************************************************************************
Class: 		$media queries
Description:	CSS definition for responsive design
******************************************************************************************/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {
 
}



